<div class='container edit'>
	<h1>Edit <%= @item %></h1>
	<%= form_for @model_name.to_sym, url: polymorphic_url(@item), method: :patch do |f| %>
		<%= render 'form_fields', f: f %>
		
		<%= render "#{@model_name.pluralize}/hidden_fields" if lookup_context.find_all("#{@model_name.pluralize}/hidden_fields").any? %>
	<% end %>
</div>