<div class="container">
	<h1><%= @model[:name].pluralize %> Index</h1>
	<%= link_to "Add #{@model[:name]}", url_for(["new_#{@model[:name].downcase}"]) %>
	
	<ul>
		<% @model[:items].each do |item| %>
			<li><%= link_to item, item %><%= link_to 'Edit', edit_polymorphic_url(item), {class: 'btn btn-default'} %></li>
		<% end %>
	</ul>
</div>