<div class='container'>
	<h1>Add <%= @model_name.titleize %></h1>

	<%= form_for @model_name.to_sym, url: url_for([@model_name.pluralize]) do |f| %>
	  <%= render 'form_fields', f: f %>
	<% end %>
</div>