<%= link_to 'Vist website', @library.url if @library.url %>
<div>
	<div class="show_category_header">
		<h2 class="heading">Locations</h2>
		<div class="btn_group">
			<%= link_to 'Add Location', new_location_url(library: @library.id), {class: 'btn btn-success'} %>
		</div>
	</div>
	<ul class='show_categories_list'>
		<% @library.locations.each do |location| %>
			<li>
				<h3><%= link_to location.name, location %></h3>
				<div class="show_subcategory">
					<h4 class="subcategory_heading">Books</h4>
					<%= render 'locations/book_list', location: location, url_params: {library: @library.id, location: location.id} %>	
				</div>
			</li>
		<% end %>
	</ul>
</div>
