<%= render layout: 'shared/show' do %>
	<%= link_to 'Vist website', @library.url if @library.url %>
	<h3>Locations</h3>
	<ul>
		<% @library.locations.each do |location| %>
			<li><%= link_to location, url_for(location) %></li>
		<% end %>
	</ul>
<% end %>