<%= form_for @model_name.to_sym, url: polymorphic_url(@book), html: {class: 'book_active_form'},method: :patch do |f| %>
	<div class="hidden">
		<%= f.label :active %>
		<%= f.check_box :active, {checked: !@book.active?} %>
	</div>
	<% 
		if @book.active?
			submit_class = 'btn-primary'
			submit_text = 'Active'
		else
			submit_class = 'btn-default'
			submit_text = 'Inactive'
		end
	 %>
	<%= f.submit submit_text, class: "btn #{submit_class}" %>
<% end %>