/*
 * Styles for default index view
 */

 .index_list{
 	li{
 		display: flex;
 		justify-content: space-between;
 		padding: 0.5em 0;
 		@include font_size(1);
 		&:nth-of-type(odd){
 			background-color: lighten($color_secondary_accent, 35%);
 		}
 		a{
 			color: darken($color_primary_accent, 30%);
 		}
 		a:first-child{
 			flex-grow: 1;
 		}
 		.btn_group{
 			text-align: right;
 			flex-basis: 50px;
 			align-self: center;
 		}
 	}
 	.btn_search img{
 		width: 70%;
 	}
 }
.search_container{
	@include font_size(1);
	padding-top: 1rem;
	input{
		width: 100%;
		@include media_q(sm){
			width: 15em;
		}
	}
}

