/*
 * Styles for show pages
 */
%show_category{
	display: flex;
	.heading{
	}
	.btn_group{
		text-align: right;
		flex-basis: 150px;
		align-self: center;
 	}
}

 .show_header{
 	@extend %show_category;
 	margin-bottom: 1em;
 	.btn_search{
 		width: 1.5em;
 		height: 1.5em;
 	}
 }
 .show_category_header{
 	@extend %show_category;
 }

 .show_categories_list{
 	&>li{
 		margin-bottom: 2em;
 	}
 	.show_subcategory{
 		padding-left: 2em;
 	}
 }


