<div class="container">
<%= link_to 'Back to All Classifications', classifications_path %>
<h1><%= @classification.name %></h1>

<p><%= link_to 'Edit Classification', edit_classification_path(@classification) %></p>
</div>