<%= link_to 'Add book', new_book_location_url(url_params), {class: 'btn btn-success btn-sm'} %>
<ul class='show_subcategory_list'>
	<% location.books.each do |book| %>
		<% if book.active? %>
			<% book_location = (book.book_locations & location.book_locations)[0] %>
			<li>
				<%= link_to book, book %>
				<%= link_to 'Remove', polymorphic_url(book_location, url_params), {
																								method: :delete, class: 'btn btn-danger btn-xs',
																								data: {confirm: "Are you sure you want to remove #{book} from #{location}?"}
																								} %>
				<%= link_to image_tag('ei-search.svg'), SuperSearch.url_for(book.to_s), {class: 'btn btn-primary btn-xs btn_search'} %>
			</li>
		<% end %>
<% end %>
</ul>