<%= render layout: 'shared/show' do %>
	<div>
		<h3>Books</h3>
		<%= link_to 'Add book', new_book_location_url(location: @location.id), {class: 'btn btn-success'} %>
			<ul>
				<% @location.books.each do |book| %>
					<% book_location = (book.book_locations & @location.book_locations)[0] %>
					<li>
						<%= link_to book, book %>
						<%= link_to 'Remove', polymorphic_url(book_location, location: @location.id), {
																	method: :delete, class: 'btn btn-danger',
																	data: {confirm: "Are you sure you want to remove #{book} from #{@location}?"}
																} %>
					</li>
		 		<% end %>
		 	</ul>
	</div>
<% end %>